.rate-select{
    box-sizing: border-box;
    background-color: black;
    color: white;
    border-radius: 5px;
    outline: none;
    width: 100%;
    padding-top: 5px;
    padding-bottom:5px ;
    letter-spacing: 2px;
}